:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --primary-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-button-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.section-title {
  color: var(--primary-text-color);
}

/* logo */

.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.logo.primary {
  color: var(--primary-black-color);
}

.logo.secondary {
  color: var(--primary-white-color);
}

.logo span {
  color: var(--accent-color);
}

/* nav */
.nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--secondary-text-color);
  font-weight: bold;
}

.contacts-nav .link:hover {
  color: var(--accent-color);
}

/* hero section */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Button */

.button {
  font-size: 16px;
  text-decoration: none;
}

.button.primary {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(primary-text-color);
  background-color: var(--secondary-button-color);
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* features */

.uptitle.features-title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-weight: bold;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* General section title*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-text-color);
}

/* Team section */

.team {
  font-size: 16px;
  line-height: 1.19;
}

.team .team-members-name {
  font-size: inherit;
  font-weight: 500;

  color: var(--primary-text-color);
}

.team .team-members-position {
  color: var(--secondary-text-color);
}

/* Footer */

.page-footer {
  background: var(--secondary-bg-color);
}

/* address */

.address .link {
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.address .link.address-location {
  color: var(--primary-white-color);
}

/* Portfolio page */

.portfolio-sample {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-info {
  font-size: 16px;
  line-height: 1.87;

  color: var(--secondary-text-color);
}
